
h1 {
  font-size: 3rem;
  text-align: center;
}

body {
  /* background-color: rgb(43, 142, 228); */
  background: radial-gradient(circle, #80e4ba, #39c4b1);
}

.app {
  width: 35rem;
  height: 34rem;
}

.habitName {
  font-size: 2rem;
  font-weight: bold;
}
